.edit-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 2.8rem;
        color: dodgerblue;
    }
    .btn{
        width: 20%;
        height: 50px;
        background-color: dodgerblue;
        color: white;
        font-size: 1.2rem;
        &:hover{
            font-size: 1.3rem;
        }
    }

   
    span{
        width: 45%;
        margin: 2%;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }
    
    .third{
        width: 28%;
    }

    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 75%;
        justify-content: center;
        
    }

        input{
            width: 100%;
            height: 30px;
            padding: 5px;
            font-size: 1.2rem;
            margin-left: 5px;
            border-radius: 5px;

        }
    }


